
.forgetContainer{
    max-width: 1450px;
    width: 100%;
    min-height:100vh;
    padding: 20px 20px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.forgetBox{
    /* border: 1px solid black; */
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 6px black;
    border-radius:5px ;
}

.emailDescription{
    font-size: 1rem;
    font-family: system-ui, sans-serif;
    width: 90%;
    color: black;
    text-align: justify;
    
}

.userEmail{
    max-width: 400px;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 10px;
    outline: none;
    font-size: 1rem;

}

.emailBox{
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
}

.sendBtn{
    padding: 7px 15px;
    background-color: #ff0060;
    outline: none;
    border: none;
    border-radius: 5px;
    color:white;
    width: 63px;
    height: fit-content;

}

.sendBtn:hover{
    box-shadow: 0px 0px 5px #ff0060;
}


.verificationBox{
    max-width: 550px;
    margin: 100px auto;
    padding: 10px;
}

.codeBox{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    font-family: system-ui, sans-serif;
    width: 100%;

}

.verifyCode{
    margin:0px 10px;
    outline: none;
    border: 1px solid black;
    max-width: 170px;
    width: 100%;
    padding: 5px 7px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
}



@media(max-width:500px){

    .forgetBox{
        padding: 10px;
    }

    .emailBox{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .userEmail{
        max-width: 350px;
        margin: 10px 0px;
    }

    .emailDescription{
        width: 100%;
    }

    .verifyCode{
        max-width: 100px;
    }

    .verificationBox{
        margin: 35px auto;
    }

}