
.wishlistContainer{
    max-width: 1400px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    font-family: system-ui, sans-serif;
}

.wishlistBox{
    max-width: 1200px;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding: 0px 0px;
    display: flex;
    margin-top: 50px;
}

.wishlistimgBox{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlistimgBox img{
    max-height: 120px;
    height: 100%;
}

.imgdetailBox{
    width: 200px;
    margin: 0px 0px 0px 100px;
    height: 100%;
}

.wishlistKartBtn{
    width: 120px;
    margin: 10px 0px 5px 0px;
    font-size: 0.8rem;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff0060;
    color: white;
}
.wishlistRemove{
    width: 120px;
    margin: 5px 0px 0px 0px;
    font-size: 0.8rem;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: white;
}

.wishlistPrice{
   font-size: 0.9rem; 
   margin: 5px 0px 0px 0px;
}
.wishlistName{
  font-size: 1rem;
  margin: 5px 0px 0px 0px;
  font-weight: bold;
}

.dustbin{
    font-size: 1.3rem;
}

span{
    align-items: center;
}