
/* There is a combine css for Signin.jsx  and  Signup.jsx */

.sign_container{
    width: 600px;
    min-height: 100vh;
    height: 100%;
    background: transparent;
    display:block;
    margin: auto auto;
    border-radius: 5px;
    overflow: hidden;
    font-family: system-ui, sans-serif;
    
}

.signin_box{
    width: 400px;
    height: 100%;
    display: block;
    border: 1px solid rgb(131, 129, 129);
    padding: 20px 40px;
    border-radius: 5px;
    margin: 20px auto 0px auto;

    
    
}
.signup_box{
    width: 400px;
    height: 100%;
    border: 1px solid rgb(131, 129, 129);
    padding: 20px 40px;
    display: block;
    margin: 20px auto 0px auto;
    border-radius: 5px;
}

.googleBtnWrapper{
    width: 100%;
    display: block;
    margin: auto;
}


.sign_credentials{
    width: 100%;
    display: block;
    margin: 20px auto;
    font-size: 1rem;
    padding: 5px 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(131, 130, 130);
}

.btn{
    width: 100%;
    display: block;
    margin: 35px auto 15px auto;
    text-align: center;
    font-size: 1rem;
    padding: 15px 10px;
    background-color:#ff0060;
    outline: none;
    border-radius: 5px;
    color: white;
    border: none;

}
.btnGoogle{
    width: 80%;
    display: block;
    margin: 20px auto 15px auto;
    text-align: center;
    font-size: 1rem;
    padding: 15px 10px;
    background-color:#ffffff;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(131, 130, 130);
    color:rgb(131, 130, 130);
    /* border: none; */

}

.btn:hover{
    box-shadow: 0px 0px 5px #ff0060;
}

.sign_heading{
    display: flex;
    margin: 10px auto 20px auto;
    width: 100%;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: system-ui, sans-serif;

}

.sign_h2{
    display: inline-block;
    margin: 15px 16px;
    font-family: system-ui, sans-serif;
    font-weight: normal;

}


.message{
    font-size: 1.3rem;
    color: red;
    width: 100%;
    text-align: center;


}

.navigateTosignup{
    display: block;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    padding: 5px 10px;
    text-decoration: underline;
    color: blue;
}

.forgetPassword{
    width: 100%;
    margin: 5px auto;
    padding: 5px 10px;
    text-decoration: underline;
    color: blue;
}

.checkboxShow{
    margin: 0px 7px;
   
}