
.beautyproduct_card{
  max-width: 360px;
  width: 100%;
  background-color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgb(216, 216, 216); */
  box-shadow: 0px 0px 5px gray;
  margin: 20px 10px;
  font-family: system-ui, sans-serif;
 
}

.beautyproduct_img{
height: auto;
max-width: 360px;
width: 100%;
padding: 10px 15px;
background-color:#dddddd;
margin: 0px auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
}

.beautyproduct_img>img{
height: 190px;
}

.beautyproduct_detail{
max-width: 350px;
width: 100%;

}

.beautyproduct_name{
  font-weight: bold;
  font-size: 1.05vmax;
  margin: 0px 0px 0px 0px;
  text-transform: capitalize;
}
.beautyproduct_brand{
  font-weight: bold;
  font-size: 1.05rem;
  margin: 0px 0px 0px 0px;
  color: #646464 ;
  text-transform: capitalize;
}

.beauty_rating{
  width: 30px;
  background-color: #0e930e;
  color: white;
  margin: 10px 0px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  
}

.description li{
  font-family: monospace;
  font-size: 0.9rem;
  margin: 0px 0px;
  font-weight: bold;
  list-style: disc;
}

.priceandkart{
  width: 150px;
  height: 100%;
}
.beauty_price{
  font-size: 1rem;
  margin: 0px 0px 0px 0px;
  text-decoration: underline;
  font-weight: bold;
}

.beautykartBtn{
  background-color:#ff0060;
  color: rgb(255, 255, 255);
  margin: 10px 0px 10px 0px;
  font-size: 0.95rem;
  border: 2px solid #ff0060;
  padding: 2px 5px;
  border-radius: 3px;
  width: 100%;
}

.kart_btn:hover{
  box-shadow: 0px 0px 10px #ff0060;
}