
.accountContainer{
    max-width: 1450px;
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    display: block;
    margin: auto;
}

.accountBox{
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 30px auto;
    
}

.gohomeWrapper{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0px auto 40px auto;
}

.gohomeBtn{
    padding: 10px;
    border: none;
    background-color: #ff0060;
    border-radius: 3px;
    color: white;
    font-family: system-ui, sans-serif;
}


.sideBar{
    max-width: 200px;
    width: 100%;
    background-color: rgb(224, 223, 223);
    padding: 30px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.contentBox{
    margin: 0px 0px 0px 100px;
  
}



.contentLink{
    margin: 20px auto;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    text-decoration: underline;
}


.h1box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}

.signoutBtn{
    padding: 8px 10px;
    margin: 7px 0px 7px 0px;
    border:none;
    font-size: 0.9rem;
    outline: none;
    text-decoration: underline;
    background: transparent;
    
}
.signoutBtn:hover{
    font-weight: bold;
}
