
.product_section{
  width: 100%;
  margin: 15px 0px;
}

.categoryproduct_card {
    max-width: 750px; 
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    /* border: 1px solid rgb(216, 216, 216); */
    box-shadow: 0px 0px 5px gray;
    margin: 20px 10px;
    font-family: system-ui, sans-serif;
    height: 100%;
  
  }
  
  .categoryproduct_img {
    height: 100%;
    max-width: 360px;
    width: 100%;
    padding: 20px 50px;
    /* background-color:#dddddd; */
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .categoryproduct_img>img {
    height: 130px;
  }
  
  .categoryproduct_detail {
    max-width: 350px;
    padding: 6px;
    width: 100%;
    height: 100%;
  
  }
  
  .categoryproduct_name {
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0px 0px 0px 0px;
    text-transform: capitalize;
  }
  
  .categoryproduct_brand {
    font-size: 0.9rem;
    margin: 0px 0px 0px 0px;
    color: #646464;
    text-transform: capitalize;
  }
  
  .categoryproduct_rating {
    width: 30px;
    background-color: #0e930e;
    color: white;
    margin: 10px 0px;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
  
  }
  
  
  .priceandkart {
    width: 150px;
    height: 100%;
    margin: 10px 0px;
  
  }
  
  .categoryproduct_price {
    font-size: 0.85rem;
    margin: 15px 0px 10px 0px;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .categorywishlistBtn {
    background-color: #ff0060;
    color: rgb(255, 255, 255);
    margin: 10px 0px 10px 0px;
    font-size: 0.8rem;
    border: 2px solid #ff0060;
    padding: 5px 5px;
    border-radius: 3px;
    width: 100%;
  }
  
  .categorywishlistBtn:hover {
    box-shadow: 0px 0px 10px #ff0060;
  }


  @media(max-width:800px){

    .categoryproduct_img>img{
      height: 100px;
    }

  }



@media(max-width:500px){

  .categoryproduct_card{
    max-width: 280px;
    width: 100%;
    margin: 9px 8px;
    
  }

  .categorywishlistBtn{
    padding: 2px;
  }

  .categoryproduct_detail{
    max-width: 140px;
  }

  .categoryproduct_img>img {
    height: 70px;
  }

  .categoryproduct_img {
    max-width: 140px;
    padding: 20px 10px ;
  }

  .priceandkart{
    margin: 5px 0px;
  }


}