

.search_result{
    width: 50vw;
    height:auto;
    max-height: calc(100vh - 100px);
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 0px;
    left: 0px;
    margin: 0px auto;
    border-radius: 0px 0px 8px 8px ;
    border: 1px solid black;
    border-top: none;
    overflow-y: scroll;
    
}

.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 60px;
    max-width: 1450px;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0px;
    margin: auto;
    /* border-top: 2px solid black; */
}

nav{
   justify-content: right;
   margin: 0px 10px 0px 0px;
} 

.ullist{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: monospace;
    font-size: 1rem;


}

.ullist > li{
    padding: 0px 15px;
}

.brand_logo{
    margin: 0px 0px 0px 15px;
    font-family: monospace;
    border: 5px solid black;
    padding: 3px 5px;
    border-radius: 9px;
}

.search{
    padding: 5px 10px;
    outline: none;
    border-radius: 3px;
    font-size: 0.9rem;
    max-width: 600px;
    width: 100%;
    margin: auto 10px;
    border: none;
    /* background-color: rgb(243, 243, 243); */
    font-weight: bold;
    color: black;
}

.searchBox{
    /* background-color:rgb(243, 243, 243) ; */
    /* border: 1px solid rgb(214, 214, 214); */
    box-shadow: 0px 0px 3px grey;
    display: flex;
    align-items: center;
    padding: 3px 10px;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
}

.searchBtn{
  color: black;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: nowrap;
}

.img_card{
    padding: 10px 0px ;
    height: auto;
    width:90%;
    /* border:1px solid red; */
    margin: 5px 0px;
    display: flex;
    align-items: flex-start;
}

img{
    height: 80px;
    margin: 0px 8px;
}



.searchResultTitle{
    font-family: system-ui;
    font-size: 0.9rem;
}
.searchResultSubcategory{
    font-family: system-ui;
    font-size: 0.9rem;
    color: #0044ff;
    font-weight: bold;
}

.navitem{
    color: black;
    font-size: 1rem;
    font-family: system-ui, sans-serif;
    font-size: 0.9rem;
}

.logo{
    font-size: 1.3rem;
}

.active{
    text-decoration: underline;
}