
.billingHeading{
    font-family: system-ui, sans-serif;
    font-weight: normal;
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: 20px auto;
}

.billingContainer{
    min-height: 100vh;
    max-width: 1450px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.detailContainer{
    max-width: 500px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.paymentContainer{
    max-width: 500px;
    width: 100%;
    /* border: 1px solid black; */
}

.detailItem{
    margin: 15px 0px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-family: system-ui, sans-serif;
}

.paymentHeading{
    font-family: system-ui, sans-serif;
    font-weight: normal;
    /* max-width: 1000px;
    width: 100%;
    display: block;
    margin: 20px auto; */
}

.billingItemBox{
    box-shadow: 0px 0px 5px rgb(194, 194, 194);  
    /* border-bottom: 1px solid grey; */
    display: flex;
    align-items: center;
    margin: 10px auto;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.amountBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.paymentModeBox{
    display: flex;
    flex-direction: column;
    font-family: system-ui, sans-serif;
    margin: 20px 0px;
    padding: 20px;
    justify-content: space-between;
    height: 100px;
}

.placeOrderBtn{
    border-radius: 3px;
    border: 1px solid grey;
    padding: 10px 10px;
    font-size: 0.9rem;
    background-color: #ff0060;
    color: white;
    outline: none;
    border: none;
    margin: 20px 0px 0px 20px;
    display: block;
}