.footer_section{
    max-width: 1450px;
    width: 100%;
    display: block;
    margin: auto;
    height: auto;
    background-color: black;
    color: white;
    padding: 20px;
}

.footerDetail{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.copyright{
    width: 100%;
    height: 40px;
    border-top:1px solid rgb(46, 45, 45);
    text-align: center;
    padding: 5px;
}

.box{
    max-width:200px;
    height: auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin: 0px 15px 15px 0px;
    color: white;
    font-family: system-ui, sans-serif;
}

.socialIcon{
    font-size: 1.2rem;
}

.quickLink{
    font-size: 0.9rem;
    margin: 5px auto;
}

.support{
    font-size: 0.85rem;
    margin: 7px 0px;
}


.followus_heading{
    font-size: 1.3rem;
    margin: 0px auto 10px auto;
    font-family: system-ui, sans-serif;
}

.facebook:hover{
    color: rgb(0, 140, 255);
}
.linkedin:hover{
    color: rgb(3, 74, 182);
}
.twitter:hover{
    color: rgb(0, 204, 255);
}
.instagram:hover{
    color: rgb(214, 80, 255);
}
.threads:hover{
    color: rgb(95, 95, 95);
}


@media(max-width:800px){
     html{
        font-size: 12px;
     }

     .footer_section{
        padding: 10px;
     }

     .box{
        margin:15px 15px 15px 5px ;
     }
}



@media(max-width:500px){

    html{
        font-size: 10px;
    }

    .footerDetail{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .box{
        max-width:300px;
    }
    .boxone{
        text-align: center;
    }

    .box ul{
        display: flex;
        justify-content: space-evenly;
        align-items:center;
    }

    .followus_heading{
        text-align: center;
        margin: 10px auto 3px auto;
    }

    .footer_section{
        padding: 20px 0px;
    }
    
}

