.dashboardContainer{
    max-width: 1450px;
    width: 100%;
    /* background-color: rgb(128, 192, 248); */
    display: flex;
    margin: auto;
}

.dashboardSidebar{
    max-width: 200px;
    width: 100%;
    padding: 30px 20px;
    border-right: 2px solid rgb(230, 230, 230);
   background-color: rgb(230, 230, 230);
}

.dashboardContent{
    max-width: 800px;
    width: 100%;
    /* min-height: 100vh; */
    /* background-color: aquamarine; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    height: 100%;
    
}

.dashboardListItem{
    font-size: 0.9rem;
    font-family: system-ui, sans-serif;
    margin: 20px 0px;
    font-weight: bold;
}

.dashboardHeading{
   text-decoration: underline;
   margin: 0px 0px 20px 0px;
}

.dashboardslidearrow{
    font-size: 20px;
    display: none;
    height: fit-content;
}


@media(max-width:800px){

    .dashboardSidebar{
        max-width: 140px;
    }

    
}



@media(max-width:500px){

    .dashboardSidebar{
        max-width: 120px;
        position: absolute;
        top:100px;
        left: -100%;
        transition: 0.5s;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
    }

    .dashboardSidebar.active{
        left: 0%;
    }

    .dashboardslidearrow{
        display: block;
    }

    .dashboardContent{
        padding: 20px 20px 20px 0px;
    }
}