.dashboardContainer{
    max-width: 1450px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(128, 192, 248); */
    display: flex;
    margin: auto;
}

.dashboardSidebar{
    width: 220px;
    padding: 30px 20px;
    border-right: 2px solid grey;
}

.dashboardContent{
    max-width: 1250px;
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    padding: 20px;
}

.dashboardListItem{
    font-size: 0.9rem;
    font-family: system-ui, sans-serif;
    margin: 20px 0px;
    font-weight: bold;
}

.dashboardHeading{
   text-decoration: underline;
   margin: 0px 0px 20px 0px;
}